@media screen and (min-width: 600px){
  
  header{
    display: flex;
  }
  nav ul {
    display: flex;
  }

  #hamburger{
    display: none;
  }

  .display{
    display: block;
  }
}